{% block content %}
    <div style="display: flex; justify-content: center; align-items: center; flex-direction: column">
        <h2>Tasks</h2>
        <a href="{% url 'task_create' %}"><h3>Create new task</h3></a>
        <table style="border: 5px solid black">
            <tr>
                <th style="border: 3px solid red">Title</th>
                <th style="border: 3px solid red">Priority</th>
            </tr>
            {% for task in tasks %}
                <tr>
                    <td style="border: 2px solid black">{{ task.title }}</td>
                    <td style="border: 2px solid black">{{ task.priority }}</td>
                </tr>
            {% endfor %}

        </table>
    </div>
{% endblock %}